body {
  font-family: Montserrat;
}


#success-field {
  display: none;
}
#success-field.show-alert{
  display: block;
  color: green;
}
#error-field {
  display: none;
}
#error-field.show-alert{
  display: block;
  color: #e24545;
}
.subscription-input {
  width: 100%;
  border: none;
  background-color: #f6f6f6;
}

.red-background {
  background-color: #e24545;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 3;
  color: #e24545;
  background-color: white;
  border-color: #444444;
}
.form-control:focus {
  border-color: #e6e6e6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.2);
}
.page-link {
  color: #888888;
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid #dddddd;
  font-size: 12px;
  font-weight: 400;
}
.shopping-card-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 64%;
}

.shopping-card-item:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.shopping-card-item .btn-hide {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}
.shopping-card-item:hover .btn-hide {
  opacity: 0.8;
  width: 170px;
  height: 40px;
  border: 2px solid #ffffff;
  color: white;
  background-color: Transparent;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
}

.shopping-card-item:hover .card-body {
  background-color: #f6f6f6;
}

.shopping-card-item:hover .shopping-button {
  background-color: #e24545;
  color: white;
}

.form-outline {
  margin-right: 20px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}
.media-size {
  width: 52px;
  height: 48px;
  text-align: center;
  justify-content: center;
  color: grey;
  padding: 15px;
  margin: -3px;
  margin-bottom: 3px;
}
.shopping-button {
  width: 40px;
  height: 40px;
  background-color: white;
}

.card-text {
  color: #e24545;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.card-title {
  color: #222222;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.card-img-top {
  height: 60%;
}

.shopping-card-item {
  width: 263px;
  height: 375px;
  border: 1px solid #eeeeee;
}
.features-line {
  width: 10px;
  height: 2px;
  background-color: #cccccc;
}

.payment-card {
  width: 47px;
  height: 28px;
  background-image: url("../images/paypal.png");
}
.magnifying-glass-margin {
  margin-left: 15px;
  margin-right: 30px;
}
.circleBase {
  border-radius: 50%;
  text-align: center;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
  float: right;
  margin-right: -20px;
}
.type {
  width: 29px;
  height: 29px;
  background: #222222;
  border: 5px solid #ffffff;
}

.sum {
  width: 66px;
  height: 13px;
  color: #444444;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}
.box {
  width: 140px;
  height: 44px;
  border: 2px solid #444444;
  background-color: #ffffff;
}
.navbar-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
.code-it {
  width: 91px;
  height: 21px;
  color: #e24545;
  font-family: Montserrat, serif;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  margin-bottom: 7px;
}
.it {
  color: #222222;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.logo-line {
  width: 20px;
  height: 1px;
  background-color: #e24545;
  margin-top: 1px;
  margin-bottom: 3px;
}
.store {
  width: 79px;
  height: 10px;
  color: #444444;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 9.36px;
  line-height: normal;
}
.clear-list-button {
  width: 120px;
  height: 38px;
  font-size: 12px;
  font-weight: 400;
  border: 2px solid #444444;
  background-color: #ffffff;
}
.clear-list-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
.page-header {
  height: 150px;
  opacity: 0.6;
  background-image: url("../images/layer.jpg");
  background-color: #cccccc;
}
.store-features-line {
  height: 1px;
  background-color: #eeeeee;
}

footer .bottom-footer {
  height: 92px;
  background-color: #e6e6e6;
}
footer .top-footer {
  height: 203px;
  background-color: #f6f6f6;
}
.footer-line {
  margin: 0;
  height: 3px;
  background-color: #dddddd;
}
.copyrights {
  color: #888888;
}

.black-bold {
  font-weight: bold;
  color: black;
}
